
<!-- Favicons -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" href="/assets/favicons/favicon.ico">

<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="fmWorkMate">

<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#2b6cb0">



{%- comment -%}
/* Build a “sheets” list from the global defaults plus any page-level overrides */
{%- endcomment -%}

{%- assign sheets = page.stylesheets | default: site.stylesheets -%}

{%- for sheet in sheets -%}
<link rel="stylesheet" href="{{ sheet | relative_url }}">
{%- endfor -%}

{%- comment -%}
/* Mermaid.js for diagrams */
{%- endcomment -%}
<script src="https://cdn.jsdelivr.net/npm/mermaid@latest/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>


{%- comment -%}
/* scripts */
{%- endcomment -%}

{%- assign all_scripts = page.scripts | default: site.scripts_global | default: site.data.scripts -%}
{%- if all_scripts and all_scripts != empty -%}
  {%- for src in all_scripts -%}
<script src="{{ src | relative_url }}"></script>
  {%- endfor -%}
{%- endif -%}



<script>
  /* This code causes all external links open in a new window */
  document.addEventListener("DOMContentLoaded", function() {
    const excludedDomains = ["mrwatson.de", "fmworkmate.com"];
    var domain = window.location.hostname; 
    var links = document.querySelectorAll("a[href]");
    links.forEach(function(link) {
      var linkHost = link.hostname;
      if (linkHost && linkHost !== domain && !excludedDomains.includes(linkHost)) {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener"); /* or noopener noreferrer */
      }
    });
  });
</script>
